.cart a {
    display: flex;
    color: #fff;
    position: relative;
    &:hover {
      color: orangered;
    }
    &.active {
      color: var(--color-danger);
    }
    p {
      position: absolute;
      top: -1rem;
      right: -1rem;
      font-weight: 500;
    }
  }

  span {
    margin: 0 5px;

    p {
      color: #fff;
    }
  }

  @media screen and (max-width: 800px) {
    .cart {
        display: block;
        padding: 5px 0;
        // border-bottom: 1px solid #333;
        a {
          color: #fff;
          position: relative;
          &:hover {
            color: orangered;
          }
          p {
            position: absolute;
            top: -1rem;
            left: 5rem;
            font-weight: 500;
            color: #fff;
          }
        }
      }
  }

